
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Noto+Sans+Symbols+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::selection {
    background-color: transparent;
    color: rgb(var(--accent-color));
}


/* noto-emoji-emoji-wght-normal */
/* @font-face {
    font-family: 'Noto Emoji Variable';
    font-style: normal;
    font-display: auto;
    font-weight: 300 700;
    src: url(@fontsource-variable/files/noto-emoji-emoji-wght-normal.woff2) format('woff2-variations');
  } */

:root {
    --r: 40;
    --g: 40;
    --b: 66;
    --text-color: 245, 230, 250;
    --accent-color: 203, 166, 247;
    --dark-color: 30, 30, 45;
    --ship--color: 115, 87, 184;
    --hover-color: 86, 86, 142;
    --hit-ship-color: 83, 62, 132;
    --sunk-ship: 50, 38, 81;
    --score-text: 159, 120, 255;
    --score-increase: 125, 255, 199;
    --score-decrease: 255, 125, 125;
    --score-bonus: 255, 198, 125;
}

body {
    color: rgb(var(--text-color));
    background-color: rgb(var(--r), var(--g), var(--b));
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    font-family: "Jost", sans-serif;
}

a {
    color: rgb(var(--text-color));
    text-decoration: none;
    font-style: italic;
}

.flex-container {
    display: flex;
}

header.header {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(var(--accent-color));
}

header .title-container .title {
    font-size: 2rem;
    
}

/* ----------main------------ */

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(200px 1fr);
    justify-items: center;
}

main div.player-lobby{
    margin: 10px;
    display: grid;
    grid-template-rows: 30px 1fr 40px;
    max-width: max-content;
    justify-content: center;
}
main div div.player-name-container {
    justify-content: center;
}

main div div.player-name-container p.player-name {
    font-size: 1.2rem;
}



main div div.real-board, main div div.computer-board {
    background-color: rgb(var(--dark-color));
    display: grid;
    grid-template-columns: repeat(10, 2.7em);
    grid-template-rows: repeat(10, 2.7em);
    justify-content: center;
    border-left: 1px rgb(var(--accent-color)) solid;
    border-top: 1px rgb(var(--accent-color)) solid;
}

main div div.real-board span.cell, main div div.computer-board span.cell {
    padding: 3px;
    border-right: 1px rgb(var(--accent-color)) solid;
    border-bottom: 1px rgb(var(--accent-color)) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.real-board span.ship-square {
    font-size: 1.5rem;
    font-family: 'Noto Emoji', sans-serif;
    background-color: rgb(var(--ship--color));
    font-family: "Noto Emoji", serif;
    font-weight: 700;
    color: #eee;
}

main div div.computer-board span.cell:hover, main div div.computer-board span.cell:focus {
    cursor: pointer;
    background-color: rgb(var(--hover-color));
}

div.score-container {
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 20px;
}
div.score-container p.player-name-node {
    font-size: 1.1rem;
    justify-self: end;
}
div.score-container p.score-text {
    justify-self: start;
    font-size: 2rem;
    color: rgb(var(--score-text));
}

div.score-container p#score-increase {
    color: rgb(var(--score-increase));
}

div.score-container p#score-decrease {
    color: rgb(var(--score-decrease));
}

div.score-container p#score-bonus {
    color: rgb(var(--score-bonus));
}

/* ----------ships-------------- */

div.computer-board span.missed {
    font-size:1.5rem;
    color: rgb(var(--accent-color));
}

div.computer-board span.hit-ship {
    font-size: 1.8rem;
    background-color: rgb(var(--hit-ship-color));
}

div.computer-board span.part-of-sunk-ship {
    background-color: rgb(var(--sunk-ship));
    color: #f53e48;
}
/* ----------footer--------- */
footer.footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    gap: 7px;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    border-top: 1px rgb(var(--accent-color)) solid;
    padding-top: 10px;
    max-height: 30px;
}

